<!doctype html>

<html lang="en">

<head>


  <meta charset="utf-8">

  <title>Metadate</title>
  <meta name="description" content="Metadate">
  <meta name="author" content="Philipp Hufnagl">

  <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
  <div id="frame">

    <h1 id="heading">METADATE</h1>
    <div class="head" id="content">
      <form method="post" id="form" action="/">
        <% errors.forEach(function(item,index){ %>
          <div class=row>
            <div class=error>
              <%= item %>
            </div>
          </div>
          <% }) %>
            <div class="row">
              <input type="text" name="who" maxlength=15 value="<%= content.who %>" class="whoWhat" placeholder="Who">
              <div id="seeks">seeks</div>
              <input type="text" name="what" maxlength=15 value="<%= content.what %>" class="whoWhat"
                placeholder="What">
            </div>
            <div class="row">
              <p class="fieldDescriptions">Please briefly explain what you seek in 200 words or fewer. Please keep it
                legal!
              </p>
              <textarea id="shortdesc" class="inputFields" maxlength="200" name="shortdesc"
                placeholder=""><%= content.shortdesc %></textarea>
            </div>
            <div class="row">
              <p class="fieldDescriptions">Please thoroughly describe what you seek in as many words as you need. Please
                still keep it legal!</p>
              <textarea id="longdesc" class="inputFields" name="longdesc"
                placeholder=""><%= content.longdesc %></textarea>
            </div>
            <div class="row">
              <p class="fieldDescriptions">Please explain how intrigued people can contact you.</p>
              <textarea id="contact" class="inputFields" name="contact" placeholder=""><%= content.contact %></textarea>
            </div>
            <div class="row">
              <p class="password">Set a password used to delete the date (or leave blank)</p>
              <textarea id="password" class="inputFields" name="password"
                placeholder=""><%= content.password ? content.password : "public" %></textarea>
            </div>
            <div class="row">
              <input id="submitButton" type="submit" value="Submit" />
            </div>
      </form>
    </div>
  </div>
</body>

</html>